* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family-primary;
  font-size: 16px;
  margin: 0;
}

.section {
  height: 100vh;
  padding-left: 2rem;
  padding-right: 2rem;

  margin: 0 auto;
}

.section__container {
  width: 100%;
  height: 100%;
}

.section__title {
  font-weight: bold;
  margin-bottom: 10%;
  font-size: 1.5rem;
}

/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.header {
  background-color: $color-primary;
  font-size: 0.8rem;
  position: fixed;
  width: 100vw;

  .nav {
    width: 90vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0 auto;

    .nav__list {
      width: 100vw;
      padding: 0;
      display: flex;
    }

    .nav__list-item {
      display: inline-block;
      text-align: center;
      flex: 1;
    }

    a {
      text-decoration: none;
      color: $color-secondary;
    }
    a:hover {
      font-weight: bolder;
    }

    .nav__list-item--selected {
      a {
        text-decoration: underline;
      }
      a:hover {
        font-weight: normal;
      }
    }
  }
}

/*------------------------------------*\
  #MAIN
\*------------------------------------*/

.main {
  background-color: $color-secondary;
}

.section__cover {
  background-color: $color-primary;

  .cover__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .cover__logo {
      width: 50%;
      justify-self: end;
    }
    .cover__guide {
      position: absolute;
      bottom: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $color-detail-primary;
      font-size: 0.7rem;
      animation-name: upDown;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

    @keyframes upDown {
      from {
        bottom: 6px;
      }
      to {
        bottom: 9px;
      }
    }
  }
}

/*------------------------------------*\
  #ABOUT
\*------------------------------------*/

.section__about {
  margin-top: 10rem;
  padding-top: 1rem;
}

.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .about_introduction {
    font-size: 1.5rem;
  }
}

/*------------------------------------*\
  #STUDY
\*------------------------------------*/

.section__study {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  padding-top: 7rem;
}
.list__inner {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

.list__conexion {
  border: 1px solid red;
  height: 5rem;
  width: 1px;
  align-self: center;
}
.list__partlist {
  display: flex;
  align-items: center;

  width: 50%;
  column-gap: 10px;
}

.list__partlist--right {
  align-self: flex-end;
  border: 1px solid red;
}

.list__partlist--left {
  align-self: flex-start;
  justify-content: right;
}

.partlist__container {
  display: flex;
  flex-direction: column;

  .partlist__title {
    margin: 0;
  }
  .partlist__addres {
    margin: 0;
  }
  .partlist__year {
    margin: 0;
  }
}

.partlist__container--left {
  align-items: flex-end;
}

.partlist__dot {
  width: 20px;
  height: 20px;
  border: 1px solid red;
}

/*
@media screen and (min-width: $mqMinWidth) {
}

@media screen and (min-width: $lqMinWidth) {
}*/
