* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family-primary;
  font-size: 16px;
  margin: 0;
}

/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.header {
  background-color: $color-primary;
  font-size: 0.8rem;
  position: fixed;
  width: 100vw;

  .nav {
    width: 90vw;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin: 0 auto;

    .nav__list {
      width: 100vw;
      padding: 0;
      display: flex;
    }

    .header__nav__list-item {
      display: inline-block;
      text-align: center;
      flex: 1;
    }

    a {
      text-decoration: none;
      color: $color-secondary;
    }

    .header__nav__list-item--selected {
      a {
        text-decoration: underline;
      }
    }
  }
}

/*------------------------------------*\
  #MAIN
\*------------------------------------*/

.main {
  background-color: $color-primary;
}

.section_cover {
  height: 100vh;
  border: 3px solid red;
  margin: 0 auto;

  .cover__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .cover__logo {
      width: 50%;
      justify-self: end;
    }
    .cover__guide {
      position: absolute;
      bottom: 1rem;

      justify-self: end;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .cover_guide_label {
      }
    }
  }
}

/*------------------------------------*\
  #ABOUT
\*------------------------------------*/

.section_about {
  height: 100vh;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
  border: 3px solid red;
  margin-top: 6rem;

  background-color: $color-secondary;
}

@media screen and (min-width: $mqMinWidth) {
  body {
  }
}

@media screen and (min-width: $lqMinWidth) {
  body {
  }
}
