@use "sass:color";

$font-family-primary: Roboto, sans-serif;

$color-primary: #5e454b;
$color-secondary: #f3f0d7;
$color-detail-primary: #cee5d0;
$color-detail-secondary: #d8b384;

$mqMinWidth: 768px;
$lqMinWidth: 1224px;
